{% extends 'base.html' %}
{% block content %}

<div class="ui grid">
    <div class="five wide column">
        <h1>Cities</h1>
        <div class="ui items">
            {% for city in cities %}
            <div class="item">
                <div class="ui small image">
                    <img
                        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/0091f1c3-56bf-4795-86d9-da95f415001d/db4rajv-8a0a078a-2e0c-4a33-b120-c420b7b054e1.png/v1/fill/w_256,h_256,q_80,strp/city_at_night_by_dragoncorn_raziel_db4rajv-fullview.jpg">
                </div>
                <div class="middle aligned content">
                    <div class="header"><a href="{%url 'city_show' city.id%}">{{city.name}}</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="eleven wide column">
        <div class="ui segment">
            <div class="ui items">
                <div class="item">
                    <div class="middle aligned content">
                        <h2>{{city.name}}</h2>
                        <h3>United States</h3>
                    </div>
                    <div class="ui large image">
                        <img
                            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/0091f1c3-56bf-4795-86d9-da95f415001d/db4rajv-8a0a078a-2e0c-4a33-b120-c420b7b054e1.png/v1/fill/w_256,h_256,q_80,strp/city_at_night_by_dragoncorn_raziel_db4rajv-fullview.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <div class="ui items">
                {% for post in posts %}
                <div class="item">
                    <div class="ui small image">
                        <img
                            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/0091f1c3-56bf-4795-86d9-da95f415001d/db4rajv-8a0a078a-2e0c-4a33-b120-c420b7b054e1.png/v1/fill/w_256,h_256,q_80,strp/city_at_night_by_dragoncorn_raziel_db4rajv-fullview.jpg">
                    </div>
                    <div class="middle aligned content">
                        <a href="{% url 'city_post' city.id post.id %}">
                            <h3>{{post.title}}</h5>
                                <h5>{{post.content}}</h5>
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}