{% extends 'base.html' %}

{% block content %}
<h1>Profile Page</h1>
<p>Username: {{user.username}}</p>
<p>City:
    {% if user.Profile.city == null %}
      Please edit your city.
    {% else %}
      {{user.Profile.city}}
    {% endif %}
</p>
<p>Date joined: {{user.date_joined}}</p>

<form action="{% url 'edit' user.id %}" method="GET">
    <button class="ui inverted button">Edit info</button>
</form>

<form action="" method="post">
    <button class="ui inverted button">Create post</button>
</form>

<h3>blogs</h3>
<!-- create if statement to display if there are posts or not -->
{% if posts.count == 0%}
<p>There are no posts to display</p>
{% else %}
{% for post in posts%}
<div>
    <a href="{% url 'blog' blog.num %}">blog title: {{post.title}}</a>
    <p>blog content: {{post.content}}</p>
</div>
{% endfor %}
{% endif %}
{% endblock %}