{% extends 'base.html' %}

{% block content %}
<h1>Profile Page</h1>
<p>your name: {{test.name}}</p>
<p>your city: {{test.city}}</p>
<p>your register date: {{test.register_date}}</p>
<div class="ui inverted segment">
    <form action="{% url 'edit' %}" method="GET">
        <button class="ui inverted button">Edit info</button>
    </form>
</div>
<p>blogs</p>
{% for blog in blogs%}
<div>
    <a href="{% url 'blog' blog.num %}">blog title: {{blog.title}}</a>
    <p>blog content: {{blog.content}}</p>
</div>
{% endfor %}
{% endblock %}