{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/slideshow.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js" defer></script>
    <script src="{% static 'scripts/app.js' %}" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


    {% block styles %}
    {% endblock %}

    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <div class="ui menu">
                <h1>Wayfarer</h1>
                <ul class="right menu">
                    <li class="item"><a href="{% url 'home' %}">Home</a></li>
                    {% if user.is_authenticated %}
                    <button class="item"><a href="{% url 'logout' %}">Logout</button>
                    <button class="item"><a href="{% url 'profile' %}">Profile</button>
                    {% else %}
                    <button class="item" id="login">Log in</button>
                    <button class="item" id="signup">Signup</button>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <a href=""></a>
    </header>

    <div id="login-form" class="ui modal login">
        <div class="header">Log in</div>
        <div class="content">
            <form action="{% url 'userlogin'%}" method="POST">
                {% csrf_token %}
                {{loginform.as_p}}
        </div>
        <div class="actions">

            <input class="btn" type="submit" value="Login">
            <input type="hidden" name="next" value={{next}}>
            </form>
        </div>
    </div>

    <div id="signup-form" class="ui modal signup">
        <div class="header">Sign Up</div>
        <div class="content">
            <form action="{% url 'signup'%}" method="POST">
                {% csrf_token %}
                {{signupform.as_p}}
        </div>
        <div class="actions">

            <input class="btn" type="submit" value="Signup">
            <input type="hidden" name="next" value={{next}}>
            </form>
        </div>
    </div>

    <script>
        // this is a function that takes in the modal type so you can have multiple modals type = a class on the modal like login
        const modal = type => {
            $(`#${type}`)
                .modal({
                    blurring: true
                })
                .modal('show');
        };
        // this is the event listener to handle the on click of the login button 
        $('#login').on('click', () => modal('login-form'));
        $('#signup').on('click', () => modal('signup-form'));

    </script>

    {% block content %}

    {% endblock%}
</body>


</html>