{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/slideshow.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="{% static 'scripts/app.js' %}" defer></script>

    {% block styles %}
    {% endblock %}

    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <div class="ui menu">
                <h1>Wayfarer</h1>
                <ul class="right menu">
                    <li class="item"><a href="{% url 'home' %}">Home</a></li>
                    {% if user.is_authenticated %}
                    <li class="item"><a href="{% url 'logout' %}">Logout</a></li>
                    <li class="item"><a href="{% url 'profile' %}">Profile</a></li>
                    {% else %}
                    <li class="item" id="login">Login</li>
                    <li class="item"><a href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <a href=""></a>
    </header>
    {% block content %}

    {% endblock%}
    <div class="ui modal login" id="login-modal">
        <div class="modal">
            <h2>Log In</h2>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <a class="login-signup">Don't have an account? Sign Up</a>
                <input type="submit" value="Log In">
                <input type="hidden" name="next" value={{next}}>
            </form>
            <span class="modal-close" id="login-close">+</span>
        </div>
        <div class="modal-underlay" id="login-underlay"></div>
    </div>
</body>

</html>

<script>
    // this is a function that takes in the modal type so you can have multiple modals type = a class on the modal like login
    const modal = type => {
        $(`.ui.modal.${type}`)
            .modal({
                blurring: true
            })
            .modal('show');
    };
    // this is the event listener to handle the on click of the login button 
    $('#login').on('click', () => modal('login'));
</script>