/* Site-wide styling */
body {
  background-color: #05040A;
  color: #FDFDFD;
}

/* Nav header styling */
.ui.inverted.segment.menu {
  background: #1A195F;
  padding: 0;
  margin: 0;
}

.ui.inverted.segment.menu > .logo {
  color: #FDFDFD;
  font-size: 25px;
  padding: 15px 0 0 10px
}

/* Modal styling */

.ui.modal>.header {
  background: grey;
}

/* Home page */
.topic-container {
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: space-around;
}

.topic-container div {
  margin: 10px;
  padding: 10px;
  width: 400px;
}

.content {
  color: black;
}

/* Profile page */
.profile-page {
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 20px;
}

.profile-page b {
  color: #592D3F;
}
.profile-page> .profile {
  padding: 10px;
  margin: 10px;
}

.profile-page label {
  display: inline-block;
  width: 150px;
  text-align: right;
  padding-right: 10px;
}

.profile-page>.post {
  padding: 10px;
  margin: 10px;
}

.post>.posts{
  padding: 10px;
  margin: 10px;
  border: 1px solid #592D3F;
  border-radius: 5px;
  width: 350px;
  text-align: center;
}

.post>.posts:hover{
  border: 1px solid white;
}

/* SHOW PAGE */
.show-post {
  text-align: center; 
}

.show-post p {
  font-size: 20px;
}

.show-post hr {
  width: 800px;
  border: 1px solid #1A195F;
}